# URL publique du backend Kasa sans chemin final
API_URL=http://localhost:3000

# URL publique du frontend utilisée pour le SEO
# Sur Vercel cette valeur est détectée automatiquement
SITE_URL=http://localhost:3001
